{% extends 'base.html' %}
{% load static %}
{% block nav%}
<ul id="navbar" class="header-main-nav">
                <li><a href="/" class="nav-link  ">Главная</a></li>
                <li><a href="/about" class="nav-link">Обо мне</a></li>
                <li><a href="/news" class="nav-link active">Новости</a></li>
                <li><a href="/portfolio" class="nav-link">Методический портфель</a></li>
                <li><a href="/parent" class="nav-link">Родителям</a></li>
                <li><a href="/question" class="nav-link">Вопросы</a></li>
                <li><a href="/review" class="nav-link">Отзывы</a></li>
                {% if user.is_authenticated %}
   <li> <a style="display:flex; align-items:center; gap:5px" href="{% url 'logout' %}"><iconify-icon icon="majesticons:door-enter-line"></iconify-icon><h8>Выйти</h8></a>
   </li>
   {% if user.is_superuser %}
    <a href="{% url 'add_news' %}" style="margin-left: 20px;">Добавить запись</a>
    {% endif %}{% else %}
   <li> <a style="display:flex; align-items:center; gap:5px" href="{% url 'login' %}"><iconify-icon icon="iconamoon:enter"></iconify-icon><h8>Войти</h8></a>
   </li>{% endif %}
            </ul>
{% endblock %}


{% block content %}
 <section id="articles" class="articles-wrap" style="padding: 2%;">
        <div class="container">
            <h1 style="margin-left: 3%; margin-bottom: 5%;">Новости</h1>
            <div class="row">
                {% for news in news_list %}
                <!-- Article Block -->
                <div class="col-md-4 article-post-item">

                    <div class="article-img">
                        <a href="{% url 'news_detail' news.id %}"><img src="{{ news.image.url }}" alt="article-img" width="100%" height="auto"></a>
                    </div>
                    <div class="lower-content">
                        <h3 align="center"><a href="{% url 'news_detail' news.id %}">{{ news.title }}</a></h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
{% endblock %}
