{% extends 'base.html' %}
{% load static %}
{% block nav%}
<ul id="navbar" class="header-main-nav">
                <li><a href="/" class="nav-link  ">Главная</a></li>
                <li><a href="/about" class="nav-link">Обо мне</a></li>
                <li><a href="/news" class="nav-link">Новости</a></li>
                <li><a href="/portfolio" class="nav-link">Методический портфель</a></li>
                <li><a href="/parent" class="nav-link">Родителям</a></li>
                <li><a href="/question" class="nav-link active">Вопросы</a></li>
                <li><a href="/review" class="nav-link">Отзывы</a></li>
              {% if user.is_authenticated %}
   <li> <a style="display:flex; align-items:center; gap:5px" href="{% url 'logout' %}"><iconify-icon icon="majesticons:door-enter-line"></iconify-icon><h8>Выйти</h8></a>
   </li> {% else %}
   <li> <a style="display:flex; align-items:center; gap:5px" href="{% url 'login' %}"><iconify-icon icon="iconamoon:enter"></iconify-icon><h8>Войти</h8></a>
   </li>{% endif %}
            </ul>
{% endblock %}

{% block content %}
  <section id="contact" class="contact-wrap" style="background: #F9F9F9; padding: 50px">
        <div class="container">
            <h1 style="margin-bottom: 5%;">Вопросы</h1>

            <!-- Sec Title -->

          <div class="row">
  <div class="col-md-6 contact-info" style="overflow-x: none;">
    {% for question in questions %}
    <div class="question" style="margin-bottom: 3%;">
        <div class="person" style="display: flex; gap: 10px; align-items: center;">
            <iconify-icon icon="oi:person"></iconify-icon>
            <h2>{{ question.asked_by.first_name }}</h2>
            <h2>{{ question.asked_by.last_name }}</h2>
        </div>
        <div class="question-text" style="">
            <p style="overflow-wrap: break-word;">{{ question.question_text|linebreaksbr|safe }}</p>
        </div>
        {% if question.answer %}
        <div class="answer" style="">
            <p style="overflow-wrap: break-word;">Ответ: {{ question.answer|linebreaksbr|safe }}</p>
        </div>
        {% endif %}
        {% if user.is_superuser %}
        <button class="btn btn-blank" onclick="toggleAnswerForm('{{ question.id }}')">Ответить</button>
        <div id="answer-form-{{ question.id }}" style="display: none;">
            <form method="post" action="{% url 'answer_question' question.id %}">
                {% csrf_token %}
                <div class="form-group" style="margin-top: 3%">
                    <textarea name="answer_text" placeholder="Ваш ответ..."></textarea>
                </div>
                <button type="submit" class="btn btn-black" style="margin-top:3% !important; color: #fff !important">Отправить ответ</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>


<script>
function toggleAnswerForm(questionId) {
    var answerForm = document.getElementById('answer-form-' + questionId);
    if (answerForm.style.display === 'none') {
        answerForm.style.display = 'block';
    } else {
        answerForm.style.display = 'none';
    }
}
</script>





                <div class="col-md-6" style="padding:30px">
    <div class="sec-title" style="margin-bottom: 200px; ">
        <h1>Оставьте свой <br>вопрос здесь:</h1>
    </div>
    <!-- Contact Form -->
    <div class="contact-form" style="margin-right: 10px; ">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'ask_question' %}">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="question_text" placeholder="Меня интересует..."></textarea>
                </div>
                <button type="submit" class="btn btn-black" style="color: #fff !important">Спросить!</button>
            </form>
        {% else %}
            <p>Чтобы задать вопрос, необходимо войти или зарегистрироваться.</p>
        <div class="controls" style="display: flex; justify-content: space-between; align-items: center;">
                    <a href="{% url 'login' %}" style="width: 200px; color:#fff !important" class="btn btn-black">Войти!</a>
                    <a href="{% url 'registration' %}" style="width: 300px; color:#fff !important" class="btn btn-black">Зарегистрироваться!</a>
                </div>
        {% endif %}
    </div>
</div>


            </div>

        </div>
    </section>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

{% endblock %}
